.git
.github
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
docs
*.md
!README.md
phpstan.neon
phpstan-baseline.neon
rector.php
.phpunit.result.cache
