includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app/

    level: 5

    ignoreErrors:
        # Spatie MediaLibrary — driver method resolution
        - '#Call to an undefined method Spatie\\Image\\Drivers\\ImageDriver::performOnCollections#'

    excludePaths:
        - app/Providers/Filament
